{{#link-to "characters.index" class="skewed-title back-link"}}Back to characters' list{{/link-to}}
<div class="character-card">
  <div class="image">
    <div class="image-canvas">
      <img {{bind-attr src="thumbnail.smallUrl"}}>
    </div>
  </div>
  <div class="detailed-info">
    <div class="own-info">
      <div class="name marvel-text">{{name}}</div>
      <div class="description">{{default-description description}}</div>
    </div>
    <div class="related-info">
      <div class="series">
        <header class="skewed-title">Series</header>
        <ul>
          {{#each series}}
            <li>
              {{#link-to "series.show" this}}{{title}}{{/link-to}}
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>