<header id="app-header">
  {{#link-to 'index' class="marvel-logo marvel-text"}}MARVEL{{/link-to}}
</header>
<div id="main-content">
  <div class="background-placeholder translucid"></div>
  {{outlet}}
</div>
<footer id="app-footer">Made with Ember and <3</footer>

