<nav class="section-links">
  {{#link-to 'characters' class="link characters"}}
    <div class="background-cover translucid solid-hover bg-characters-inverse"></div>
    <div class="link-text">Characters</div>
  {{/link-to}}
  {{#link-to 'series' class="link series"}}
    <div class="background-cover translucid solid-hover bg-series-inverse"></div>
    <div class="link-text">Series</div>
  {{/link-to}}
  {{#link-to 'comics' class="link comics"}}
    <div class="background-cover translucid solid-hover bg-comics-inverse"></div>
    <div class="link-text">Comics</div>
  {{/link-to}}
</nav>